<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.mrlzy.shiro.web.mvc" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

  <!-- <aop:config proxy-target-class="true"></aop:config>
  <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>-->

    <mvc:annotation-driven/>
    <mvc:view-controller path="/" view-name="index"/>


    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
            <property name="templateLoaderPath" value="/WEB-INF/freemarker/"/>
            <property name="freemarkerSettings">
                 <props>
                        <prop key="defaultEncoding">utf-8</prop>
                 </props>
            </property>
    </bean>

    <!-- 默认的视图解析器 在上边的解析错误时使用 (默认使用html)- -->
    <bean id="viewResolver"  class="com.mrlzy.shiro.plugin.mvc.MultiViewResover">
        <property name="defaultResolver" value="ftl"></property>
        <property name="resolvers">
            <map>
                <entry key="jsp">
                    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                        <property name="contentType" value="text/html;charset=UTF-8"/>
                        <property name="prefix" value="/WEB-INF/jsp/"/>
                        <property name="suffix" value=".jsp"/>
                    </bean>
                </entry>
                <entry key="ftl">
                            <bean  class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                                <property name="contentType" value="text/html;charset=UTF-8"/>
                                <property name="cache" value="false"/>
                                <property name="suffix" value=".ftl"/>
                           </bean>
                </entry>

            </map>
        </property>
    </bean>



    <bean id="jsonConverter"  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"></bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list >
                <ref bean="jsonConverter" />
            </list>
        </property>
    </bean>




    <mvc:resources mapping="/assets/**" location="/assets/" cache-period="31556926"/>






    <!-- 控制器异常处理 -->
   <!-- <bean id="exceptionHandlerExceptionResolver" class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
    </bean>-->
<!--
    <bean class="com.github.zhangkaitao.shiro.chapter12.web.exception.DefaultExceptionHandler"/>
-->


</beans>